<div class="card">
  <p-card header="Elenco Postazioni Disponibili">
    <p-listbox
      [options]="postazioni"
      [scrollHeight]="'flex'"
      optionLabel="nome"
      [style]="{'width':'100%'}"
      (onClick)="selezionaPostazione($event.option)">
      <ng-template let-postazione pTemplate="item">
        <div class="flex align-items-center">
          <div>
            <div class="font-bold">{{postazione.nome}} - {{postazione.tipo}}</div>
            <div class="text-sm">{{postazione.descrizione}}</div>
            <div class="text-sm">Costo orario: {{postazione.costoOra | currency:'EUR'}}</div>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </p-card>
</div>
