.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.p-card {
  width: 100%;
  max-width: 400px;
}

.p-field {
  margin-bottom: 0.5rem;
}

.p-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.p-error {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #ff0000;
}
